
.px {
  padding: 20px;
}

.bgSky {
  background: #f4f6fa;
}
.whole {
  width: 100%;
  height: auto;
}
.bottomContainer {
  box-shadow: 1px 1px 12px #ddd;
  margin-bottom: 30px;
}
.twoTenth {
  width: 20%;
}
.pLabel label {
  padding: 9px 0;
}
.label {
  display: inline-block;
  margin-bottom: 5px;
 
  font-weight: 700;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 20px;
}
.leedLabelM {
  margin: 0 20px;
}
.left {
  float: left;
}
.feedbackTitle {
  margin: 30px 0 !important;
  font-family: "sfui-regular", sans-serif;
  font-weight: 500 !important;
  color: rgb(51, 51, 51) !important;
  line-height: 24px !important;
  font-size: 22px !important;
}
.hx {
  font-size: 22px;
}

.revel {
  position: relative;
}
.feedback {
  padding: 20px 0 20px 30px;
  border-left: 1px solid #eee;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.textArea {
  border: 1px solid #ddd;
  resize: none;
  padding-left: 10px;
  font-size: 14px;
  height: auto;
}
.half {
  width: 50%;
}
.radioBtn {
  position: relative;
  display: flex;
  width: 100%;
}
.radioBtn1{
  position: relative;
 
  width: 90%;
}
.errorMessage{
  color: maroon;
  font-size: 12px;
  margin-top: 5px; /* Ensure some space between textarea and error message */
  display: block;
}

.inputStyle{
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  font-weight: 400;
 display: none;
  padding: 20px;
}
.optionStyle{
  margin: 1px 0;
    padding: 0;
    height: 25px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #999;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.radioBtn .clicked {
  background: #ee3124;
  color: #fff !important;
  box-shadow: 1px 1px 19px 0 rgb(246, 88, 43, 0.4);
  border: 1px solid #ee3124 !important;
}

.box .clicked {
  background: #ee3124;
  color: #fff !important;
  box-shadow: 1px 1px 19px 0 rgb(246, 88, 43, 0.4);
  border: 1px solid #ee3124 !important;
}
.clicked {
  background: #ee3124;
  color: #fff !important;
  box-shadow: 1px 1px 19px 0 rgb(246, 88, 43, 0.4);
  border: 1px solid #ee3124 !important;
}

.box {
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
}

.error {
  color: maroon;
  font-size: 12px;
  margin-top: 5px; /* Ensure some space between textarea and error message */
  display: block;
  font-family: "sfui-regular", sans-serif;
}
.flexD {
  display: flex;
}

.textCenter {
  text-align: center;
}

.mobiltyBtn {
  background-color: #f5592e;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  min-width: 138px;
  text-transform: uppercase;
  margin-top: 7px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;

  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;

  line-height: 1.42857;

  user-select: none;
}

@media (max-width: 786px) {
  .disc {
    margin-bottom: 5px;
  }
  .half {
    width: 100%;
  }
  .radioBtn {
    width: 10%;
  }
  .radioBtn1{
    width: 100%;
  }
  .feedback {
    padding: 20px 10px 20px 10px;
    border-left: 1px solid #eee;
    display: block;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .textArea {
    width: 100%;
    float: left;
  }
}
@media (min-width: 786px) {
  .feedbackTitle {
    margin: 20px 0;
    font-weight: 600;
  }

  .hx {
    font-size: 19px;
    margin: 0 0 10px;
  }
}

@media (max-width: 600px) {
  .hx {
    font-size: 17px;
    margin: 0 0 10px;
  }
}
@media (min-width: 576px) {
  .px {
    padding: 10px;
  }
}

@media (min-width: 480px) {
  .hx {
    font-size: 15px;
    margin: 0 0 10px;
  }
}
@media (min-width: 360px) {
  .hx {
    font-size: 13px;
    margin: 0 0 10px;
  }
}

@media only screen and (min-width: 769px) {
  .flexDdesk {
    display: flex;
  }
}
